@import 'common'
button
	background: #fff
img
	width: 300px
.cropper-wrapper
	position: relative
.prompt
	absolute: top 150px left 0px
	width: 200px
	margin-left: (@width / 2)
.router-link-active
	color: #f40
.shop-header
	background-color: #b9aebf
	padding-top:20px
	.nav
		padding:0px 20px
.header-top
	height: auto
	clear: both
	overflow: hidden
	padding: 20px
	color: #fff
	img
		width: 13rem
		height: 13rem
		float: left
		border-radius: 20px
.header-top-cont
	margin-left: 15rem
	h2
		font-size: 4.6rem
		line-height: 4rem
	p
		font-size: 2.8rem
		margin-top: 15px
.more-supports
	float: right
	display: inline-block
	padding:0px 30px
	border-radius: 25px
	background-color: rgba(0,0,0,0.2)
	line-height: 3.6rem
	color: #fff
.bulletin
	font-size:3rem
	color: #fff
	padding: 20px
	background-color: rgba(0,0,0,0.2)
	.more
		float: right
		color: #fff
.fade-enter-active
	animation: fade-in .5s

.fade-leave-active
	animation-name: fade-out .5s
@keyframes fade-in {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes fade-out {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
.modal-wrapper
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	height: 100%
	width: 100%
	background-color: #262626
	color: #fff
	z-index: 4
.modal-cont
	padding: 0 8rem
	padding-top: 10rem
	h2
		font-size: 6rem
		text-align: center
	h3
		margin-top: 7.4rem
		margin-bottom: 4rem
		text-align: center
		span
			font-size: 3rem
			padding: 1.2rem 2rem
			border-radius: 1.6rem
			border: 1px solid #555
			background-color: #262626
	ul 
		li
			line-height: 3.8rem
			font-size: 3.5rem
	.rating-star
		display: inline-block
		position: relative
		height: 4rem
		line-height: 4rem
		span
			height: 4rem
		svg
			height: 4rem
			width:4rem
			float: left
			margin: 0px 3px
.modal-close
	position: fixed
	bottom: 4rem
	left: 50%
	margin-left: -6rem
	width:12rem
	svg
		fill:#fff
#product
	background-color: #fff
	display: flex
	position: absolute
	top: 449px
	bottom: 0
	width: 100%
	padding-bottom: 158px
	overflow: hidden
	.edit-num
		display: flex
		a
			display: inline-block
			color: #3190e8
			flex: 1
		span
			display: inline-block
			flex: 1
			padding: 0 1rem
			line-height: 4.5rem
			text-align: center
	footer
		position: absolute
		bottom: 0
		height: 158px
		width: 100%
		background-color: #3d3d3f
		display: flex
		z-index: 3
		.cart
			flex: 3
			padding-left: 3rem
			.icon
				display: inline-block
				width: 118px
				height: 118px
				position: absolute
				top: -3rem
				border: 1rem solid #444
				border-radius: 50%
				background-color: #535356
				color: #3d3d3f
				z-index: 2
				&.isbuy
					color: #3190e8
					background-color: #fff
				em
					position: absolute
					right: -1rem
					top: -2.5rem
					display: inline-block
					background-color: #ff461d
					border-radius: 50%
					color: #fff
					width: 3rem
					padding: 7px 8px
					text-align: center
			.price
				display: inline-block
				color: #fff
				margin-left: 14rem
				font-size: 4rem
				padding-top: 2.6rem
				em
					font-size: 2.6rem
					display:block		
		.gobuy
			flex: 1
			background-color: #444
			color: #fff
			line-height: @height
			text-align: center
			font-size: 4rem
			&.isbuy
				background-color: #4cd964
		.cart-list
			position: absolute
			bottom: 158px
			width: 100%
			
			.title
				padding: 1.5rem 2rem
				background-color: #eceff1
				height: 6rem
				line-height: 6rem
				span
					display: inline-block
					font-size: 3.8rem
					padding-left: 1.2rem
					border-left: 0.8rem solid #3190e8
				a
					float: right
					padding-top: 1rem
					line-height: 3.8rem
					font-size: 3rem
					svg
						float: left
						margin-right: 0.8rem
			ul
				background-color: #fff
				li
					height: 5rem
					line-height: 5rem
					padding: 3.6rem 2rem
					font-size: 3rem
					display: flex
					&:not(:last-child)
						border-bottom: 1px solid #eee
					h3
						flex: 6
					.price
						flex: 2
						color: #f60
						font-size: 4.2rem
					.edit-num
						flex: 2
					
.cart-view
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	width: 100%
	height: 100%
	z-index: 2
	background-color: rgba(0, 0, 0, 0.3)
			
.shop-bar
	background-color: #fff
	position: relative
	z-index: 2
	display: flex
	li
		background-color: #fff
		text-align: center
		height: 8rem
		line-height: 8rem
		font-size: 3.6rem
		border-bottom: 1px solid #666
		flex:1
	li.active 
		a
			color: #f40
.product-nav-list
	width: 20rem
	float: left
	li
		width: 100%
		background-color: #f8f8f8
		a
			display: block
			padding: 30px 0px
			margin: 0px 3rem
			border-bottom: 1px solid #ededed
			font-size: 3.2rem
			color: #666
	li.cur
		background-color: #fff
		position: relative
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 6px
			background-color: #3190e8
		a
			border-bottom-color: #fff
.productList
	flex:1
.product-item-list
	width: 100%
	li
		margin: 0px 6%
		padding: 30px 0
		border-bottom:1px solid #ddd
		position: relative
		display: flex
		img
			width: 10rem
			height: 10rem
			float: left
	.food-cont
		margin-left: 2rem
		flex:1
		h4
			font-size: 3.6rem
		p
			font-size: 2.8rem
			color: #666
			margin-top: 6px
		.price strong
			color: #f40
			font-size: 3rem
		.price span
			text-decoration: line-through
	.edit-num
		position: absolute
		bottom: 30px
		right: 0


.rating-cont
	padding: 30px
	display: flex
	margin-bottom: 20px
	background-color: #fff
	position: relative
	z-index: 2
	.left
		padding-right: 3rem
		border-right: 1px solid #ddd
		text-align: center
		line-height: 1.5
		strong
			font-size: 6.2rem
			color: #f60
			line-height: 6.8rem
		p
			font-size: 3rem
	.right
		flex:1
		li
			line-height: 5rem
			font-size: 3rem
		.title
			margin-left: 3rem
		.score
			color: #f60
			margin-left: 3rem
		.star-five
			margin-right: 5px
.rating-list
	background-color: #fff
	padding: 0px 30px
	height: 1120px
	> ul 
		> li
			padding: 30px 0px
			border-bottom: 1px solid #ddd
			position: relative
	ul 
		li 
			.userimg
				width: 8rem
				height: 8rem
				border-radius: 50%
				float: left
	.rating-user-info
		margin-left: 10rem
		font-size: 1rem
		h4
			font-size: 4.2rem
			line-height: 6rem
		p
			font-size: 3rem
			margin-bottom: 10px
		.foods 
			span
				display: inline-block
				font-size: 2.8rem
				color: #999
				border:1px solid #ddd
				padding: 1rem
				border-radius: 1rem
				margin-right: 10px
				margin-bottom: 10px
				float: left
	.date
		position: absolute
		top: 30px
		right: 0
		font-size: 3rem
#rating 
	.rating-star
		display: inline-block
		position: relative
		height: 25px
		line-height: 25px
		span
			display: inline-block
			height: 25px
		svg
			height: 25px
			width:25px
			float: left
			margin: 0px 3px
